<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRT to CSV</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
                <h1 class="white-title">SRT file to CSV file(log file) V.1</h1>
            </div>
        </nav>
    </div>




    <main role="main" class="container">
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleFormControlFile1">Upload SRT file :   </label>
                <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
                <input type="submit" />
            </div>
        </form>
        <!-- <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" />
        </form> -->
        <div class=" container">
            <h1>Status : {{data}}</h1>
        </div>
        <div class="row">
            <div class="col-sm-6 item">
                <h1>Input SRT file format</h1>
            </div>
            <div class="col-sm-6 item">
                <h1>Output CSV file format</h1>
            </div>
        </div>
    </main>

    <footer class="footer bg-dark">
        <div class="container">
            <span class="text-muted">Contact: Boat_255@hotmail.com</span>
        </div>
    </footer>


</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<style>
    .container {
        margin: 0 auto;
        text-align: center;
        padding: 3rem;
    }
    
    .white-title {
        color: white;
    }
    
    .item {
        margin: 0 auto;
        text-align: center;
        padding: 10rem;
        border: 1px solid red;
    }
</style>

</html>